.additional-links {
	margin: 0;
	padding: 0;
	padding-top: 2rem;
	list-style-type: none;
	text-align: left;

	li {
		border-top: 1px solid #ebebeb;
		padding: 1.6rem 0 1.4rem 0;
		position: relative;
		cursor: pointer;

		&:last-child {
			border-bottom: 1px solid #ebebeb;
		}

	}

	h2 {
		margin-bottom: 0.2rem;
		font-size: 1.8rem;
	}

	.additional-link-icon {
		.mdi {
			display: block;
		}
	}

	.additional-link-icon, .additional-link-title {
		display: inline-block;
		vertical-align: middle;
	}

	.additional-link-title {
		padding-left: 0.4rem;
	}

	.additional-link-icon-more {
		position: absolute;
		top: 50%;
		right: 0.4rem;
		margin-top: -1.3rem;
	}

	&.hide {
		display: none;
	}

}