.hero-container {
	margin: 0 auto;
	position: relative;
	width: 150px;

	.fab-button {
		position: absolute;

		&.left-fab {
			left: -60px;
			top: 50px;
		}

		&.right-fab {
			right: -60px;
			top: 50px;
		}
	}
}

.left-align {
	text-align: start !important;
}

.hero {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 5px solid white;
  width: 150px;
	height: 150px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background: white no-repeat center top;
	background-size: cover;
	overflow: hidden;

	.mdi {
		color: black;
		font-size: 7rem;
		line-height: 144px;
	}
}
