.information-items, .review-items {
	background: white;
	list-style-type: none;
	width: 100%;
	max-width: 600px;
	margin: 3.2rem auto;
	padding: 1.6rem;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	border-radius: 3px;
	position: relative;
	text-align: center;
}

.provenance-item {
	padding: 1.7rem 0.8rem ;
	border-top: 1px solid #ebebeb;

	&:first-child {
		border: 0;
	}

	.list-name {
		float: left;
	}

	.list-value {
		position: relative;
		float: right;
		font-weight: 400;
	}

	.list-status-dot {
		width: 12px;
		height: 12px;
		display: block;
		border-radius: 50%;
		background: #333;
		position: absolute;
		left: -16px;
		top: 4px;
	}
}