// Admin SCSS
body {
	margin-top: 0;
	margin-bottom: 9rem;

	&.saving {

		&:before {
			content:'';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0.75);
			z-index: 100;
			opacity: 1;
			
		}

		&:after {
			content: '';
			position: fixed;
			top: 50%;
			left: 50%;
			width: 10rem;
			height: 10rem;
			background: #333 url(/assets/ajax-loader.gif) no-repeat center center;
			border-radius: 0.3rem;
			margin-left: -5rem;
			margin-top: -5rem;
			color: white;
			text-align: center;
			line-height: 10rem;
			z-index: 200;
			opacity: 1;
			transition: opacity 0.3s;
		}

	}


		&:before {
			transition: all 0.3s;
			opacity: 0;
		}

		&:after {
			transition: all 0.3s;
			opacity: 0;
		}

}

.block {
	display: block !important;
}

.global-header {
	position: relative;
	width: 37.5rem;
	height: 6.8rem;
	margin: 0 auto;
	z-index: 50;
}

.admin-banner {
	height: 6.8rem;
	width: 100%;
	background: orange url(/assets/evrythng-brand-white.png) no-repeat center center;
	background-size: auto 75%;
}

.admin-wrapper {
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	text-align: left;
	padding: 0 0.8rem;

	h1,
	h2 {
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		border-bottom: 1px solid #ccc;
	}

	textarea {
		text-align: left;
		margin: 0;
		padding-left: 0.8rem;
		padding-right: 0.8rem;
		transition: all 0.3s;
		max-width: 100%;
	}

	input {
		text-align: left;
		margin: 0;
		padding-left: 0.8rem;
		padding-right: 0.8rem;
		transition: all 0.3s;

		&[type=text] {
			max-width: 80rem;
		}

		&[type=radio], &[type=checkbox] {
			display: inline;
			width: auto;
		}

		&:focus {
			border-color: #333;
		}
	}

	label {
		margin: 0.8rem 0;

		&.iconPreview {
			position: relative;

			&:before {
				display: inline-block;
    			font: normal normal normal 24px/1 Material Design Icons;
    			font-size: 2.4rem;
    			text-rendering: auto;
    			line-height: inherit;
    			-webkit-font-smoothing: antialiased;
    			-moz-osx-font-smoothing: grayscale;
    			transform: translate(0);
    			position: absolute;
    			left: 2rem;
    			bottom: 1.4rem;
			}

			input {
				padding-left: 3.6rem;
			}

		}
	}

	.half-inputs {
		display: flex;
		justify-content: space-between;

		label {
			width: 48%;
		}

	}

	hr {
		border: 0;
		width: 100%;
		height: 1px;
		background: #999;
		margin: 1.6rem 0;
	}

	.checkradio {
		padding: 0.8rem 0;
		width: 100%;
		max-width: 30rem;
	}

}

.admin-reset-button, .view-app-button {
	display: none;
	min-width: 15rem;

	&.on {
		display: inline-block;
	}
}

.view-app-button {
	float: right;
}

// Sticky Header Stuff
@media only screen and (min-height: 700px) {

	.admin-sticky-nav {
		
		&.flush {
			top: 1.6rem;
			position: fixed;
			left: 0;
			width: 100%;
			z-index: 500;
			transition: top, 0.5s;

			.admin-sticky-nav__wrapper {
				max-width: 80rem;
				width: 100%;
				margin: 0 auto;
				padding: 0 0.8rem;
			}

		}

		

	}

	#app-screens.flush {
		padding-top: 21rem;
	}

}
// Sticky Header Stuff

.admin-setup-fields {
	overflow: hidden;
	height: 450px;
	transition: height 0.5s;

	&.processed {
		height: 0;
	}
}

.admin-app-title-controls {
	display: none;
	padding: 0.5em 0.8rem;
	margin: 1.6rem 0;
	border-radius: 0.3rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	background: white;

	&.on {
		display: block;
	}
}

.admin-actions {
	position: fixed;
	bottom: -100px;
	right: 0;
	width: 100%;
	background: rgba(0,0,0,0.90);
	padding: 1.6rem 0.8rem;
	text-align: center;
	transition: bottom 0.5s;

	.button {
		background: white;
		color: #333;
	}

	&.on {
		bottom: 0;
	}
}

.admin-section {
	display: none;
	position: relative;

	&.active {
		display: block;
	}
}

.app-screen-select {
	text-align: right;
}

// Dropdown
.admin-dropdown {
	border: 1px solid #ccc;
	background: white;
	display: inline-block;
	cursor: pointer;
	position: relative;
	border-radius: 0.3rem;
	min-width: 30rem;

	select {
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 0;
		background: transparent;
		padding: 0.6rem 2.2rem 0.6rem 0.8rem;
		z-index: 10;
		cursor: pointer;
		width: 100%;
		font-weight: bold;
	}

	select::-ms-expand {
		display: none;
	}

	&:after {
		content: '';
	    display: block;
	    position: absolute;
	    top: 50%;
	    right: 0.6rem;
	    border: 0.5rem outset transparent;
	    border-top: #333 0.5rem solid;
	    margin-top: -0.25rem;
	}

}

input[type=radio] {
	margin-left: 1.6rem;
}

.toaster {
	position: fixed;
	bottom: 8rem;
	left: -100%;
	width: 100%;
	max-width: 30rem;
	min-height: 3.7rem;
	padding: 1.6rem 0.8rem;
	background: #333;
	color: white;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	opacity: 0;

	transition: all 1s;

	&.on {
		left: 0;
		opacity: 1;
	}

	&.error {
		background: tomato;
	}

}

.product-img {
	margin: 0;
	margin-bottom: 1.6rem;
	background: white url(/assets/product-placeholder.png) no-repeat center center;
	background-size: cover;
}

.thng-qr-img {
	position: absolute;
	top: 0.8rem;
	right: 0.8rem;
	width: 15rem;
}

.firstPipedItem, .middlePipedItem, .lastPipedItem {
	margin: 0 !important;
	padding: 0.6rem 1.2rem;
	background: #f4f4f4;
}

.firstPipedItem {
	margin-top: 0.8rem !important;
}

.middlePipedItem {
	// padding: 0.8rem;
}

.lastPipedItem {
	// background: orange;
	margin-bottom: 0.8rem !important;
}

.appAdvancedOptions {
	color: #333;

	.open {
		display: none;
	}

	&.on {

		.open {
			display: inline;
		}

		.closed {
			display: none;
		}

	}
}

.app-advanced-options {
	display: none;

	&.on {
		display: block;
	}
}

@import "excludedFields";