// Screens
.start #start {
	display: block;

	h1 {
		display: block;

		&:before {
			content: 'Welcome'; // I know this is bad!
		}

	}

	.screen__content {
		margin-top: 0;
	}

	.scan-phone-img {
		position: relative;
	}

	.intro-img {
		height: 215px;
		display: block;
		margin: 0 auto 2.5rem auto;
	}

}

.recall #recall {
	display: block;

	.screen__header {
		background: repeating-linear-gradient(
		  -55deg,
		  $brand-color,
		  $brand-color 10px,
		  lighten($brand-color, 10%) 10px,
		  lighten($brand-color, 10%) 20px
		);
	}
}

.offer #offer {
	display: block;

	.reorder__button {
		display: none;
	}
}

.reorder #reorder {
	display: block;

	.offer-disc {
		display: none;
	}

	.offer__button {
		display: none;
	}

	.locationCTA {
		display: none;
	}
}

.expired #expired {
	display: block;

	.screen__header {
		background: repeating-linear-gradient(
		  -55deg,
		  $brand-color,
		  $brand-color 10px,
		  lighten($brand-color, 10%) 10px,
		  lighten($brand-color, 10%) 20px
		);
	}
}

.registration #registration {
	display: block;

	.registrationPurchaseDate {
		display: none;

		&.show {
			display: block;
		}
	}

	.button {
		margin-top: 1.6rem;
	}

}

.post-purchase #post-purchase {
	display: block;

	.offer-disc {
		background: #8BC34A;
	}

}

.owned #owned {
	display: block;

	h1 {
		display: block;
	}

	.screen__content {
		margin-top: 0;
		padding-top: 0;
	}
}

.grey #grey {
	display: block;

	.screen__header {
		background: repeating-linear-gradient(
		  -55deg,
		  #666,
		  #666 10px,
		  lighten(#666, 10%) 10px,
		  lighten(#666, 10%) 20px
		);
	}
}

.recycling #recycling {
	display: block;
}

.counterfeitcheck #counterfeitcheck {
	display: block;

	.true-title, .false-title {
		display: none;
	}

	&.false {

		.offer-disc.false {
			display: block;
		}

		.false-title {
			display: block;
		}

		.true-button {
			display: none;
		}

	}

	&.true {

		.offer-disc.true {
			display: block;
		}

		.fab-button.left-fab {
			display: none;
		}

		.true-title {
			display: block;
		}

	}

	.offer-disc.false {
		background: #8BC34A;
		display: none;
	}

	.offer-disc.true {
		top:50%;
		left:50%;
		width: 100%;
		height: 100%;
		margin-left: -50%;
		margin-top: -50%;
		background: #EA000A;
		color: white;
		display: none;

		.mdi {
			font-size: 9rem;
			line-height: 15rem;
		}

	}
}

.counterfeitcheck2factor #counterfeitcheck2factor {
	display: block;

	.offer-disc.true {
		top:50%;
		left:50%;
		width: 100%;
		height: 100%;
		margin-left: -50%;
		margin-top: -50%;
		background: #333;
		color: white;

		.mdi {
			font-size: 9rem;
			line-height: 15rem;
		}

	}
}

.dutycheck #dutycheck {
	display: block;

	.true-title, .false-title {
		display: none;
	}

	&.false {

		.offer-disc.false {
			display: block;
		}

		.false-title {
			display: block;
		}

		.false-button {
			display: inline-block;
		}

		.fab-button.left-fab {
			display: none;
		}

	}

	&.true {

		.offer-disc.true {
			display: block;
		}

		.true-title {
			display: block;
		}

		.false-button {
			display: none;
		}

	}

	.offer-disc.false {
		background: #EA000A;
		display: none;
	}

	.offer-disc.true {
		background: #8BC34A;
		display: none;
	}

}

.reward #reward {
	display: block;

	.button, .scan-reward, .icon-reward-active {
		display: none;
	}

	.button {
		margin: 1.6rem auto;
	}

	&.reward-active {

		.icon-reward-active {
			display: inline;
		}

		.trophy-rating {
			background: #ebebeb;
		}

		.button, .scan-reward {
			display: block;
		}

		.description, .icon-reward-inactive {
			display: none;
		}

	}
}

.freestanding #freestanding {
	display: block;

	.uploadButton {
		opacity: 0;
		transition: all 0.3s;

		&.on {
			opacity: 1;
		}
	}
}