@import "normalise"; // Standardise elements
@import "material_icons"; // https://materialdesignicons.com - Local version as CDN https://materialdesignicons.com/ can go down!
@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700); // Our font of choice for material design

$icon-font: "Material Design Icons"; // Icon Fonts
$brand-color: #EA000A;
$brand: $brand-color;
$action: $brand;

@import 'global';

@import 'components/menu';
@import 'components/accordion';
@import 'components/additional-links';
@import 'components/alert';
@import 'components/barcode';
@import 'components/buttons';
@import 'components/header-controls';
@import 'components/hero';
@import 'components/loader';
@import 'components/modal';
@import 'components/offer';
@import 'components/post-purchase';
@import 'components/provenance-review-info-items';
@import 'components/purchase-rewards-list';
@import 'components/ratings';
@import 'components/recommended';
@import 'components/reorder-list';
@import 'components/reviews';
@import 'components/video';
@import 'components/screen';
@import 'components/timeline';

@import 'screens';
@import 'modals';